extends layout

block content
  div(class='container1')
    nav 
      ul 
        li(id='example') Contact
    div(class='arrange')
      ul 
        li 何
        li 元
        li 芬
      ul 
        li(id='angelina') Angelina 
        li Yuan-Fen Ho   
  section(id='section1')
    p performer. teacher. music ambassador. 
  section(id='section2')
    p A native of Hsinchu, Taiwan, Angelina Yuan-Fen Ho began playing the piano at seven, and the flute at ten. She holds a BA in music from UC Berkeley. While an MM candidate in flute performance at the University of Maryland, College Park, she started experiencing significant health issues, which eventually required that she take a hiatus from playing the flute. After reaching sufficient recovery, she picked up the flute again. Since fall 2018, Yuan-Fen has been ​pursuing her MM degree at the San Francisco Conservatory of Music. She acknowledges with deep gratitude her teachers Timothy Day, Emily Skala, Isabelle Chapuis, Maria Tamburrino, Julie McKenzie, and various other mentors.
    p Yuan-Fen received most of her ensemble training at the University of Maryland and the San Francisco Conservatory. She has also attended summer festivals and master classes to further her training, where she studied with Bonita Boyd, Demarre McGill, Susan Hoeppner, Robert Langevin, Jennifer Gunn, Philippe Bernold, Vincent Lucas, Judith Mendenhall, Keith Underwood, Amy Porter, William Bennett, and Trevor Wye. Aspiring to be a professional flutist, Yuan-Fen has been devoting herself to learning from different approaches of flute playing and teaching, studying various playing styles, and collaborating with brilliant peer musicians who inspired her to becomve a better musician. Apart from music, Yuan-Fen loves movies, Japanese tea ceremony, cats, and the beach.
  section(id="section3")
    p One of things I find most rewarding about being a musician is having the opportunity to engage with different kinds of communities by performing among them, especially communities of people who cannot easily travel to concert venues. For a whole semester during my time at the San Francisco Conservatory of Music, I performed with my pianist partner in a Japanese assisted living facility and a senior center in San Francisco. We cherished the opportunity to brighten the seniors’ days as they swayed to the rhythm of the music or hummed along. The ability to cheer people up through my music is a privilege and gives meaning to the hours of practice I put into my work as a musician.I performed with my pianist partner in a Japanese assisted living facility and a senior center in San Francisco. We cherished the opportunity to brighten the seniors’ days as they swayed to the rhythm of the music or hummed along. The ability to cheer people up through my music is a privilege and gives meaning to the hours of practice I put into my work as a musician.
  section(id="section4")
    p  I have performed as a soloist, chamber musician, and sectional flutist. I enjoy the intimacy of small ensembles as well as the excitement of orchestral music. Repertoire Orchestral Beethoven’s Symphony No. 6 Stravinsky’s Firebird Suite (1919 version) Copland’s Appalachian Spring Chamber Solo
    div(class="images")
      img(src="./images/IMG_7572.JPG", alt="perform1")/
      img(src="./images/IMG_7575.JPG", alt="perform2")/
      img(src="./images/IMG_7576.JPG", alt="perform3")/ 
  section(id='section5')
    p I have taken courses in flute pedagogy and training classes such as Alberto Almarza’s “Art of Teaching” and KinderFlute. I teach students of any age, from beginner to advanced level. I can also coach students for auditions and competitions. Please contact me directly for studio policy and availability.
    form(action="#")
      input(type="text" placeholder="first name")
      input(type="text" placeholder="last name")
      input(type="email" placeholder="email")
      select(name="" id="")
        option(value="#") Level
  footer
    p &copy; 2020
    ul
      li: a(href="#")
        i(class="fab fa-twitter")
      li: a(href="#")
        i(class="fab fa-youtube")
      li: a(href="#")
        i(class="fab fa-facebook-square")
      li: a(href="#")
        i(class="fab fa-instagram-square")
      li: a(href="#")
        i(class="fab fa-snapchat-ghost")
  